body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 246, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body,
#root {
  height: 100%;
}

.Toastify__toast-container {
  z-index: 9999;
  position: fixed !important;
}
.Toastify__toast {
  min-height: unset !important;
  border-radius: 6px !important;
  padding: 15px 15px !important;
  display: flex !important;
}
.Toastify__toast--success {
  background-color: #c9e7f5 !important;
  color: #212b36 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  width: auto !important;
  margin-top: 10px !important;
}
.Toastify__toast--error {
  background-color: #eb8380 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  width: auto !important;
  margin-top: 10px !important;
}
.Toastify__toast--warning {
  background-color: #f8d971 !important;
  color: #212b36 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  width: auto !important;
  margin-top: 10px !important;
}

.Toastify__toast-container--top-center {
  width: max-content !important;
  margin: auto !important;
  padding-top: 10px !important;
  padding: 0 10px !important;
  top: unset !important;
  left: unset !important;
}

.toast-close svg {
  width: 11px;
  height: 11px;
}
.toast-close svg path {
  fill: #637381;
}
.toast-close,
.toast-success-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toast-success-icon,
.toast-danger-icon,
.toast-warning-icon {
  margin-right: 16px;
  display: inline-flex;
}
.toast-success-icon svg path {
  fill: #4fb1df;
}
.toast-danger-icon svg path {
  fill: #bf0711;
}
.toast-warning-icon svg path {
  fill: #9c6f19;
}
.Toastify__toast--error .toast-close svg path {
  fill: #ffffff;
}
.Toastify {
  position: absolute;
  width: 100%;
}
